body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Базовый размер шрифта */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 24px; /* Увеличенный размер шрифта */
}

h1 {
    font-size: 36px; /* Увеличенный размер шрифта */
}

h2 {
    font-size: 28px; /* Увеличенный размер шрифта */
}

h3 {
    font-size: 22px; /* Увеличенный размер шрифта */
}

p {
    font-size: 18px; /* Увеличенный размер шрифта */
}

/* Добавьте размеры шрифтов для других элементов, если это необходимо */
